*{
    margin: 0;
    padding: 0;
}

#caixas{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

#edtpeso, #edtaltura{
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70;

}

#btncalcula{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;

}